<div class="container">
  <img src="https://github.com/CreativeFeeling/RecommendersProject/blob/master/images/tag.png?raw=true" alt="tag" style="width:40%;">
  <form action="" method="post">
      {% csrf_token %}
      <div class="centered">
        <TT><FONT SIZE=+2>
        <div class="fieldWrapper">
            <label for="{{ form.Age.id_for_label }}">Age:</label>
            {{ form.Age }}
        </div><br>
        <div class="fieldWrapper">
            <label for="{{ form.Size.id_for_label }}">Size:</label>
            {{ form.Size }}
        </div><br>
        <div class="fieldWrapper">
            <label for="{{ form.Bust.id_for_label }}">Bust:</label>
            {{ form.Bust }}
        </div><br>
        <div class="fieldWrapper">
            <label for="{{ form.Clothing_Type.id_for_label }}">Clothing Type:</label>
            {{ form.Clothing_Type }}
        </div><br>
        <div class="fieldWrapper">
            <label for="{{ form.Occasion.id_for_label }}">Occasion:</label>
            {{ form.Occasion }}
        </div>
        <br><input type="submit" value="Submit">
        </TT>
      </div>
  </form>
</div>

{% block css %}
  <style>
    body {
        background: #fcfbf9;
        color: #000000;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        height: 100%;
        line-height: 1.5;
        width: 80%;
        margin-left:auto;
        margin-right:auto;
        word-spacing: 1px;
    }
    .container {
        position: relative;
        text-align: center;
        padding-top: 10%;
        /* color: white; */
    }
    /* Centered text */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 20%;
    }
  </style>
{% endblock %}
